<mat-sidenav-container fullscreen>
  <mat-sidenav #start>
    <mat-nav-list>
      <div>
        <a
          mat-list-item
          routerLink="/"
          (click)="start.close(); selectCategory('')"
          [class.currentCategory]="!this.currentCategory"
        >
          <mat-icon [color]="this.currentCategory == '' ? 'accent' : 'primary'"
            >chevron_right</mat-icon
          >
          <span>All Products</span>
        </a>
      </div>
      <a
        mat-list-item
        (click)="start.close(); selectCategory(category.id)"
        routerLink="/"
        [queryParams]="{ category: category.id }"
        *ngFor="let category of categories$ | async"
        [class.currentCategory]="this.currentCategory == category.id"
      >
        <mat-icon
          [color]="this.currentCategory == category.id ? 'accent' : 'primary'"
          >chevron_right</mat-icon
        >
        <span>{{ category.name }}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary" class="sticky-toolbar">
    <button mat-icon-button (click)="start.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="clickable" routerLink="/">OSHOP</span>
    <span class="example-spacer"></span>
    <span *ngIf="user">Hi, {{ user?.displayName }}</span>
    <button
      mat-icon-button
      routerLink="shopping-cart"
      *ngIf="cart$ | async as cart"
    >
      <mat-icon
        [matBadge]="cart.TotalQuantity"
        matBadgeColor="warn"
        matBadgeSize="small"
        [matBadgeHidden]="cart.TotalQuantity == 0"
        >shopping_cart</mat-icon
      >
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="!user" mat-menu-item routerLink="/login">
        <mat-icon color="primary">login</mat-icon>
        <span>Login</span>
      </button>
      <button *ngIf="user" mat-menu-item routerLink="/my/orders">
        <mat-icon color="primary">local_mall</mat-icon>
        <span>My Orders</span>
      </button>
      <ng-container *ngIf="user?.isAdmin">
        <button mat-menu-item routerLink="/admin/orders">
          <mat-icon color="primary">settings</mat-icon>
          <span>Manage Orders</span>
        </button>
        <button mat-menu-item routerLink="/admin/products">
          <mat-icon color="primary">settings</mat-icon>
          <span>Manage Products</span>
        </button>
      </ng-container>
      <button *ngIf="user" mat-menu-item (click)="logout()" routerLink="/">
        <mat-icon color="warn">logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <div style="padding: 10px">
    <ng-content></ng-content>
  </div>
</mat-sidenav-container>
