<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<password-reset></password-reset>
<br />
<signup-form></signup-form>
<br />
<contact-form></contact-form>
<br />
<star [is-starred]="true" (changed)="onStarChanged($event)"></star>
<br />
<titlecase></titlecase>
<br />
<like
  [is-liked]="false"
  [number-of-likes]="999"
  (changed)="onLikeChanged($event)"
></like>
<br />
<zippy title="Shipping Details">
  <table>
    <tr>
      <td>Order ID: 123</td>
      <td>Address: 123 Street name, NY</td>
    </tr>
  </table>
</zippy>
<zippy title="Shipping Details">
  <table>
    <tr>
      <td>Order ID: 456</td>
      <td>Address: 456 Street name, IL</td>
    </tr>
  </table>
</zippy>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
