<button
      mat-mini-fab
      color="primary"
      [matTooltip]="'Create New Movie' | translate"
      matTooltipPosition="after"
      matTooltipHideDelay="1000"
      matTooltipClass="app-tooltip"
      (click)="createMovie()"
      style="margin: 10px;"
    >
      <mat-icon>add</mat-icon>
    </button>
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="10px grid">
        <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let movie of movies">        
          <mat-card class="mat-elevation-z4" fxFill>
            <mat-card-header>
              <mat-icon mat-card-avatar>movie</mat-icon>
              <mat-card-title>{{movie.title}}</mat-card-title>
              <mat-card-subtitle>{{movie.genre.name}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="movie.thumbnail" >
            <mat-card-content>
              <p>
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    Number In Stock: {{movie.numberInStock}}
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    Daily Rental Rate: {{movie.dailyRentalRate}}
                  </mat-list-item>
                </mat-list>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button (click)="editMovie(movie)" mat-raised-button color="accent">
                {{ "Edit" | translate }}
              </button>
              <button
                (click)="deleteMovie(movie)"
                mat-raised-button
                color="warn"
                style="margin-left: 5px"
              >
                {{ "Delete" | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      </div>
